@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
--lighting-color: #0089b7;
--dark-color: #003d62;
--darker-color: #003251;
--secondary-color: #fff700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body,
html {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: white;
}
body{
    font-size: 1.4rem;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
header{
    background: #0089b7;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
nav ul{
    display: flex;
    gap:1rem;
}
nav li{
    font-size: 1.8rem;
    border-bottom: 0.4rem transparent solid;
    transition: 0.3s ease-in-out;
}
nav li:hover{
    border-bottom: 0.4rem #fff700 solid;
    transition: 0.3s ease-in-out;
}
.logo{
    font-size: 2rem;
    font-weight: 700;
}
#hero{
    background: var(--dark-color);
    padding: 4rem 0;
    border-bottom: 4px solid var(--lighting-color);
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero_content{
    display: grid;
    place-items: center;
}
#hero h1{
    font-size: 3rem;
    font-weight: bold;
}
.hi_text{
    font-size: 6rem;
    font-weight: bold;
    color: #fff700;
}
.name_text{
    font-size: 5rem;
    font-weight: bold;
}
.hero img{
    border-radius: 50%;
}
.project{
    background-color: #003251;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-bottom: 4px solid var(--lighting-color);
}
.project h2{
    font-size: 6rem;
    text-align: center;
    margin: 2rem 0;
}
.project .card_content{
    font-size: 2rem;
    text-align: center;
}
.contact{
    background-color:var(--dark-color);
    border-bottom: 4px solid var(--lighting-color);
}
.contact h2{
    font-size: 6rem;
    text-align: center;
    margin: 2rem 0;
}
.contact .container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
}
.contact a{
    font-size: 4rem;
    margin: 2rem ;
}
footer {
    background: var(--darker-color);
    padding: 2rem;
    color: white;
    font-size: 1.6rem;
    text-align: center;
}
.education{
    background-color: #003251;
    border-bottom: 4px solid var(--lighting-color);
}
.education h2{
    font-size: 6rem;
}

.education .container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: start;
}
table{
    font-size: 5rem;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color:#003d62
}
.rate {
    background-color: #003251;
    border-bottom: 4px solid var(--lighting-color);
}
.rate h2{
    font-size: 4rem;
    text-align: center;
}
.rate .container{
    justify-content: center;
    height: 50vh;
}
input[type=text], select, input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color:#0089b7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
